<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Currency_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Currency_Updater.Properties.Settings>
            <setting name="SQLInsert" serializeAs="String">
                <value>INSERT INTO [{0}$Currency Exchange Rate]
           ([Currency Code]
           ,[Starting Date]
           ,[Exchange Rate Amount]
           ,[Adjustment Exch_ Rate Amount]
           ,[Relational Currency Code]
           ,[Relational Exch_ Rate Amount]
           ,[Fix Exchange Rate Amount]
           ,[Relational Adjmt Exch Rate Amt])
     VALUES
           (@Currency_Code
           ,@Starting_Date
           ,1
           ,1
           ,''
           ,@ExchangeRate
           ,0
           ,@ExchangeRate)</value>
            </setting>
            <setting name="frmConnection_WP01Welcome_Text" serializeAs="String">
                <value>Bağlantı Ayarlarına Hoşgeldiniz</value>
            </setting>
            <setting name="frmConnection_WP01Welcome_IntroductionText" serializeAs="String">
                <value>Bu bölümde döviz güncelleyicisinin bağlanacağı bağlantı ayarları yapılacaktır.</value>
            </setting>
            <setting name="frmConnection_WP01Welcome_ProceedText" serializeAs="String">
                <value>Sonraki adıma geçmek için ileriyi tıklayınız</value>
            </setting>
            <setting name="frmConnection_ConnectionWizard_CancelText" serializeAs="String">
                <value>Iptal</value>
            </setting>
            <setting name="frmConnection_ConnectionWizard_FinishText" serializeAs="String">
                <value>&amp;Bitti</value>
            </setting>
            <setting name="frmConnection_ConnectionWizard_HelpText" serializeAs="String">
                <value>&amp;Yardım</value>
            </setting>
            <setting name="frmConnection_ConnectionWizard_NextText" serializeAs="String">
                <value>&amp;Ileri &gt;</value>
            </setting>
            <setting name="frmConnection_ConnectionWizard_PreviousText" serializeAs="String">
                <value>&lt; &amp;Geri</value>
            </setting>
            <setting name="frmConnection_ConnectionWizard_Text" serializeAs="String">
                <value>Server Seçiniz</value>
            </setting>
            <setting name="frmConnection_WP02ServerSelection_Text" serializeAs="String">
                <value>Server Seçiniz</value>
            </setting>
            <setting name="frmConnection_WP02ServerSelection_DescriptionText" serializeAs="String">
                <value>Uygulama hangi server'a bağlanacaktır.</value>
            </setting>
            <setting name="frmConnection_WP02ServerSellection_LblText_Text" serializeAs="String">
                <value>Hangi Server'a bağlanacaksınız</value>
            </setting>
            <setting name="frmConnection_WP02ServerSellection_lblDatabase_Text" serializeAs="String">
                <value>Database Seçiniz</value>
            </setting>
            <setting name="frmConnection_WP02ServerSellection_lblConnectionName" serializeAs="String">
                <value>Bu bağlantı için bir isim veriniz.</value>
            </setting>
            <setting name="frmConnection_WP05Finish_Text" serializeAs="String">
                <value>Bağlantı Ayarlarını Tamamladınız</value>
            </setting>
            <setting name="frmConnection_WP05Finish_ProceedText" serializeAs="String">
                <value>İşlemi bitirmek için Bitti butonuna basınız</value>
            </setting>
            <setting name="frmConnection_WP05Finish_FinishText" serializeAs="String">
                <value>Bağlantı ayarlarınız belirttiğiniz parametrelerle kaydedilmiştir</value>
            </setting>
            <setting name="frmConnection_WP01DatabaseSelection_Text" serializeAs="String">
                <value>Database Seçiniz</value>
            </setting>
            <setting name="frmConnection_WP01DatabaseSelection_DescriptionText" serializeAs="String">
                <value>Hangi database'e bağlanacaksınız</value>
            </setting>
            <setting name="frmConnection_WP04ConnectionName_Text" serializeAs="String">
                <value>Baglanti ismi</value>
            </setting>
            <setting name="frmConnection_WP04ConnectionName_DescriptionText" serializeAs="String">
                <value>Girmis oldugunuz bu ayarlari kaydetmek için bir isim giriniz.</value>
            </setting>
            <setting name="frmConnection_Text" serializeAs="String">
                <value>Bağlantı Ayarları</value>
            </setting>
            <setting name="frmCurrencySetup_Text" serializeAs="String">
                <value>Döviz Kurulumu</value>
            </setting>
        </Currency_Updater.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
